// colors - channels
$channels-bg: #3a456b;
$light-txt: #f7f6f3;
$ch-dark-shadow: rgba(6, 70, 100, .45);
$ch-light-shadow: rgba(247, 246, 243, .1);
$hover-txt: #96ed4c;

// colors - dates
$dates-bg: #35c361;
$dark-txt: #3a456b;
$pr-dark-shadow: rgba(28, 131, 100, .45);
$contrast: #ff5071;
$prevnext-txt: rgba(58, 69, 107, .5);

// colors - programs
$programs-bg: #ffe767;
$program-bg: rgba(247, 246, 243, .35);

// sizes
$radius: 10px;
$neg-radius: -10px;
$shadow: 10px;
